@media (max-width:425px ) { 
    body {
        background-color: #000000;
    }
    .me {
        font-size: 4.5rem !important;
        left: 5% !important;
        top: 40% !important;
    }
    #ripple {
        background: url('./photo_2024-04-10_21-00-07.jpg') left top fixed !important;
    }

}

.me {
    color: #000000;
    font-size: 10.3rem;
    position: absolute;
    top: 30%;
    left: 30%;
    -webkit-text-stroke-width: 1px ;
    -webkit-text-fill-color: #FFF;
    -webkit-text-stroke-color: #000000;
    text-shadow: 0 0 55px #ffffff9f;
    cursor: none;
}
.control {
    display: block;
}
#ripple {
    background: url('./maxresdefault.jpg') left top / cover; 
    height: 58rem;
    width: 100%;
    overflow: hidden !important;
}
